body {
    color: black;
}

.text1 {
    position: relative;
    text-align: center;
    color: rgb(124, 247, 1);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    margin-top: 100px;
}

.text2 {
    position: relative;
    text-align: center;
    color: rgb(124, 247, 1);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    margin-right: 100px;
    margin-left: 100px;
}

.clock {
    position: relative;
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}